body, button, input {
    font-family: 'Roboto';
}
body {
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button, a, input{
    box-shadow: none !important;
}

/* header */
.header {   
    overflow: hidden;
}
a.navbar-brand {
    font-style: italic;
    font-size: 26px;
    margin: 0 !important;
    letter-spacing: 1px;
}
a.nav-link {
    font-size: 17px;
    color: black;
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-top: 10px;
    align-items: center;
}
a.nav-link:hover {
    color: red;
}
a.navbar-toggler {
    border: none !important;
}
a.navbar-toggler:visited {
    border: none !important;
}
.signup1 {
    border: black 2px solid;
    
}
.signup1 span {
    padding: 10px;
    padding-left: 10px;

}
.bg-darker{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-lighter{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.car-img{
    width: 100%;
    height: 700px;
    opacity: 0.8;
}

.img-height{
    height: 200px;
}

/* footer page */
footer {
    background: #000;
    padding-left: 20px;
    padding-right: 20px;
}
footer p {
    margin-bottom: 0;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

